<!DOCTYPE html>
<html ng-app="myApp">
  <head lang="en">
    <title>Address book</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="Store and manage your contacts easily">
    <meta name="author" content="MG">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link href="../libs/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="../styles/user.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="../libs/assets/js/html5shiv.js"></script>
    <script src="../libs/assets/js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body ng-controller="MainCtrl">
    <table class="table noMarginBottom">
      <tr>
        <td class= "groupSelector">
          <dl class="dl-horizontal noMarginBottom">
            <dt>Group: </dt>
            <dd>
              <select class="form-control groupSelectMaxWidth" ng-model="group" ng-options="g.name for g in groups" ng-change="setGroup()">
                <option value="">All Contacts</option>
              </select>
            </dd>
          </dl>
        </td>
        <td class="groupButton">
          <p class="text-left">
            <a href="" ng-click="createGroup()"><span class="text-success glyphicon glyphicon-plus"></span></a>
          </p>
        </td>
        <td class="groupButton">
          <p class="text-left">
            <a href="" ng-click="editGroup()"><span class="text-warning glyphicon glyphicon-pencil"></span></a>
          </p>
        </td>
        <td class="groupButton">
          <p class="text-left">
            <a href="" ng-click="deleteGroup()"><span class="text-danger glyphicon glyphicon-remove"></span></a>
          </p>
        </td>
        <td ng-show="groupError.show">
          <div class="alert alert-danger">
            {{groupError.msg}}
            <a href="" ng-click="groupError.show=false"><span class="text-danger glyphicon glyphicon-remove-circle pull-right"></span></a>
          </div>
        </td>
        <td>
          <form class="pull-right" action="/logout" method="GET">
            <nobr class="text-primary"><strong>{{user.login}}</strong></nobr>
            <button type="submit" class="btn btn-warning">Log out</button>
          </form>
        </td>
      </tr>
    </table>
    <table class="table">
      <tbody>
        <tr>
          <td>
            <input type="search" class="form-control" placeholder="Search by name" ng-model="searchContacts">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Contacts</th>
                  <th><a href="" ng-show="contactView" ng-click="createContact();">
                    <span class="text-success glyphicon glyphicon-plus"></span>
                    </a>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="c in contacts | filter:searchContacts" class="{{selectedContact(c.id)}}">
                  <td ng-cloak ng-click="setContact(c); findGroupById(c.group_id)">{{c.firstName}} {{c.lastName}}</td>
                  <td><a href="" ng-click="contactDelete(c.id);">
                    <span ng-show="contactView" class="text-danger glyphicon glyphicon-remove"></span>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
          <td>
            <div class="panel panel-info">
              <div class="panel-heading">
                <h1 class="panel-title">
                  <nobr ng-show="contactCreateView">Create new contact</nobr>
                  <nobr ng-hide="contactCreateView">{{contact.firstName || "Contact details here..."}} {{contact.lastName || ""}}</nobr>
                </h1>
              </div>
              <div class="panel-body">
                <dl class="dl-horizontal" ng-show="contactView">
                  <dt>First Name:</dt>
                  <dd>{{contact.firstName || ""}}</dd>
                  <dt>Last Name:</dt>
                  <dd>{{contact.lastName || ""}}</dd>
                  <dt>Phone:</dt>
                  <dd>{{contact.phone || ""}}</dd>
                  <dt>Email:</dt>
                  <dd>{{contact.email || ""}}</dd>
                  <dt>Group:</dt>
                  <dd ng-hide="!contact.id">{{contactGroup.name || "All Contacts"}}</dd>
                </dl>
                <dl class="dl-horizontal" ng-hide="contactView">
                  <dt>First Name:</dt>
                  <dd><input class="form-control" placeholder="First Name" ng-model="newContact.firstName"></dd>
                  <dt>Last Name:</dt>
                  <dd><input class="form-control" placeholder="Last Name" ng-model="newContact.lastName"></dd>
                  <dt>Phone:</dt>
                  <dd><input class="form-control" placeholder="Phone" ng-model="newContact.phone"></dd>
                  <dt>Email:</dt>
                  <dd><input class="form-control" placeholder="Email" ng-model="newContact.email"></dd>
                  <dt>Group:</dt>
                  <dd>
                    <select class="form-control groupSelectMaxWidth" ng-model="contactGroup" ng-options="g.name for g in groups">
                      <option value="">All Contacts
                      <option>
                    </select>
                  </dd>
                </dl>
                <div class="alert alert-danger" ng-show="contactError.show">
                  {{contactError.msg}}
                </div>
                <p class="text-right">
                  <button class="btn btn-success" ng-click="saveContact()" ng-hide="contactView">Save</button>
                  <button class="btn btn-danger" ng-click="cancelContact()" ng-hide="contactView">Cancel</button>
                  <button class="btn btn-info" ng-disabled="!contact.id" ng-click="editContact()" ng-show="contactView">Edit</button>
                </p>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <script src="../libs/jquery-2.0.3.min.js"></script>
    <script src="../libs/bootbox.min.js"></script>
    <script src="../libs/angular.min.js"></script>
    <script src="../libs/bootstrap/js/bootstrap.min.js"></script>
    <script src="../js/user.js"></script>
  </body>
</html>
